/* CSS variables so that we can make it dark mode/light mode */
:root{
  --bg-color: 
}

/* Modal background */
.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top:0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.show{
  opacity: 1;
  visibility: visible;
}


/* Modal content box */
.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
}

/* Close button */
.close {
  float: right;
  font-size: 28px;
  cursor: pointer;
}

#openJoin {
  background-color: blue;
  color: rgb(243, 243, 243);
  position: relative;
  left: 350px;
  top: 350px;
  border-radius: 25px;
  padding: 10px 20px;
  transition: 0.3s ease;
  font-family: Arial, sans-serif;
  font-size: 16px;    /* size of letters */
  font-weight: bold;  /* make letters thicker */
  letter-spacing: 1px;
  border:none;
}
#openJoin:hover{
  transform: scale(1.05);
  background-color: #3b7ad9;
}

#openModal{
  background-color: rgb(255, 255, 255);
  color: blue;
  position: relative;
  left: 300px;
  top: 350px;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  transition: 0.3s ease;
  font-family: Arial, sans-serif;
  font-size: 16px;    /* size of letters */
  font-weight: bold;  /* make letters thicker */
  letter-spacing: 1px;
}
#openModal:hover{
  transform: scale(1.05);
  background-color: #dedede;
}

.sidebar{
  position: fixed; /* stays in place when scrolling */
  left: 0;
  top: 0;
  width: 200px; 
  height: 100%;
  background-color: rgb(248, 250, 253);
  color: black;
  letter-spacing: 1px;
  padding: 20px;
}

.sidebar a{
  display: flex; /* stack vertically */
  color:black;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  margin: 20px 0;
  transition: 0.3s ease;
  font-family: Arial, sans-serif;
  font-size: 16px;    /* size of letters */
  font-weight: bold;  /* make letters thicker */
  letter-spacing: 1px;
  align-items: center;
  gap: 8px;
}

.sidebar a.active{
  background-color: rgba(0, 122, 255, 0.5);
  color: black;
}

.sidebar a.active:hover{
  background-color: rgba(0, 122, 255, 0.7);
}

.button-icon{
  width: 24px;
  height: 24px;
}

.sidebar a:hover{
  background-color: #dedede;
}

.main-content{
  margin-left: 220px;
  padding: 20px;
}