/* CSS variables so that we can make it dark mode/light mode */
:root{
  --bg-color: #f8fafd;
  --sidebar-bg: #f8fafd;
  --modal-bg: #ffffff;
  --text-color: #000000;
  --button-text: #000000;      /* general button text */
  --button-bg: #ffffff;        /* default button background */
  --button-hover-bg: #dedede;  /* button hover */
  --button-active-bg: rgba(0,122,255,0.5);
  --button-active-hover-bg: rgba(0,122,255,0.7);
  --modal-overlay: rgba(0,0,0,0.5);
  --body-color: #ffffff;
}

body{
  background-color: var(--body-color);
}

/* Modal background */
.modal {
  position: fixed;
  z-index: 5000;
  inset: 0;
  background-color: var(--modal-overlay);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal.show .modal-content {
  transform: translateY(0);
}


/* Modal content box */
.modal-content {
  background-color: var(--modal-bg);
  color: var(--text-color);
  padding: 20px;
  width: 35%;
  height: 33%;
  border-radius: 10px;

  transform: translateY(-120px);
  transition: transform 0.3s ease;
}

/* Close button */
.close {
  float: right;
  font-size: 28px;
  cursor: pointer;
}

#openJoin { /*? Join button on the home page */
  background-color: blue;
  color: white;
  position: relative;
  left: 350px;
  top: 120px;
  border-radius: 25px;
  padding: 10px 20px;
  transition: 0.3s ease;
  font-family: Arial, sans-serif;
  font-size: 16px;    /* size of letters */
  font-weight: bold;  /* make letters thicker */
  letter-spacing: 1px;
  border:none;
}
#openJoin:hover{
  transform: scale(1.05);
  background-color: rgba(0, 123, 255, 0.886);
}

#openModal{ /*? Create button on the home page */
  background-color: var(--button-bg);
  color: blue;
  position: relative;
  left: 300px;
  top: 120px;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  transition: 0.3s ease;
  font-family: Arial, sans-serif;
  font-size: 16px;    /* size of letters */
  font-weight: bold;  /* make letters thicker */
  letter-spacing: 1px;
}

#openModal:hover{
  transform: scale(1.05);
  background-color: var(--button-hover-bg);
}

.sidebar{
  position: fixed; /* stays in place when scrolling */
  left: 0;
  top: 0;
  width: 250px; 
  height: 100%;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  letter-spacing: 1px;
  padding: 20px;
  border-top-right-radius: 25px;
  margin-top: -10px;
}

.sidebar a{
  display: flex; /* stack vertically */
  color:var(--sidebar-text);
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  margin: 20px 0;
  transition: 0.3s ease;
  font-family: Arial, sans-serif;
  font-size: 16px;    /* size of letters */
  font-weight: bold;  /* make letters thicker */
  letter-spacing: 1px;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.12);
}

.sidebar::after {
  content: "";
  position: absolute;
  top: 0;
  right: -25px;
  width: 25px;
  height: 40px;
  background-color: var(--sidebar-bg);
  border-top-left-radius: 25px;
}

.sidebar::after{
  content: "";
  position: relative;
  top: 50px;
}

.sidebar a.active{
  background-color: var(--button-active-bg);
  color: var(--sidebar-text);
}

.sidebar a.active:hover{
  background-color: var(--button-active-hover-bg);
}


.sidebar a:hover{
  background-color: #dedede;
}

.sidebarLinks{
  position: relative;
  top: 80px;
}

.topbar{
  position: fixed;
  left: 250px;
  top: 0;
  width: calc(100% - 250px);
  height: 70px;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  padding: 20px;
  border-top-left-radius: 25px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}


.button-icon{
  width: 24px;
  height: 24px;
}

.main-content{
  margin-left: 220px;
  padding: 20px;
}


/* Small switch container */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;   /* smaller width */
  height: 20px;  /* smaller height */
}

/* Hide checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider background */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 20px;
}

/* Circle */
.slider:before {
  content: "";
  position: absolute;
  height: 16px;   /* smaller circle */
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

/* When checked */
input:checked + .slider {
  background-color: #3e3e3e;
}

input:checked + .slider:before {
  transform: translateX(16px); /* small movement */
}

.theme-toggle{
  display: flex;
  align-items: center;
  gap: 8px;
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 2000;
}


#formCreate input{
  display: flex;
  margin: 10px 0;
  border: 2px solid;
  padding: 8px 12px;
  border-radius: 8px;
  transition: 0.3s ease;
  width: 90%;
}

#formCreate input:hover{
  background-color: var(--button-hover-bg);
  box-shadow: 0 0 5px rgba(30, 144, 255, 0.5);
  outline: none;
  
}     

.log-button{
  display: flex; /* stack vertically */
  color:var(--sidebar-text);
  padding: 10px 20px;
  position: fixed;
  top: 1px;
  right: 150px;

  border-radius: 25px;
  text-decoration: none;
  margin: 20px 0;
  transition: 0.3s ease;
  font-family: Arial, sans-serif;
  font-size: 16px;    /* size of letters */
  font-weight: bold;  /* make letters thicker */
  letter-spacing: 1px;
  align-items: center;
  gap: 8px;
}

.log-button:hover{
  background-color: var(--button-active-bg);
  color: var(--sidebar-text);
}

.log-button:active:hover{
  background-color: var(--button-active-hover-bg);
}

#welcome-box{
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  background: #4CAF50;
  padding: 15px 25px;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  transition: top 0.6s ease;
  z-index: 9999;
}

#welcome-box.show{
  top: 20px;
}

#loggedOut-box{
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(240, 64, 64);
  padding: 15px 25px;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  transition: top 0.6s ease;
  z-index: 9999;
}

#loggedOut-box.show{
  top: 20px;
}

.courses{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.course-card{
  background-color: white;
  border-radius: 12px;
  position: relative;
  top: 80px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  width: 150px;
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
  font-family: "Arial", sans-serif;
}

.course-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.course-card h3{
  margin: 0 0 10px 0;
  color: #333;
}

.course-card p{
  margin: 5px 0;
  color: #666;
  font-size: 14px;
  word-break: break-word;
}

.submitButton{   /*? submit button for join and create course */
  background-color: var(--button-bg);
  color: blue;
  border: none;
  position: relative;
  left: 330px;
  border-radius: 25px;
  padding: 10px 20px;
  transition: 0.3s ease;
  font-family: Arial, sans-serif;
  font-size: 16px;    /* size of letters */
  font-weight: bold;  /* make letters thicker */
  letter-spacing: 1px;
}

.submitButton:hover{
  transform: scale(1.05);
  background-color: var(--button-hover-bg);
}

.submitButton.join{
  left: 350px;
}

.mainPicture{
  width: 250px;
  height: 250px;
  position: relative;
  top: 150px;
  left: 350px;
}

.no-courses-text {
  margin-top: 15px;
  font-size: 18px;
  color: black;
  font-weight: bold; /*? it'll look brighter */
  text-align: center;
  position: relative;
  top: 120px;
  right: 25px;
}

.task-list-container{
  max-height: 200px; /*? height of scrollable area */
  overflow-y: auto;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: none; /*? initially hidden */
  background-color: var(--modal-bg);
}

.task-list-container ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.task-list-container li{
  padding: 8px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: var(--text-color);
}

.task-list-container li:last-child{
  border-bottom: none;
}

.task-list-container.show{
  display: block;
}
