<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/createCourse.css') }}"
    />

    <title>Home</title>
  </head>
  <body>
    <div class="main-content">

      {% if user.is_authenticated %}
        <p>Welcome, {{ user.name }}</p>
        <a class="log-button" href="{{ url_for('logout') }}">Logout</a>  
      {% else %}
        <a class="log-button" href="{{ url_for('login') }}">Login with Google</a>
      {% endif %}
      

      {% if session.get('just_logged_in') %}
      <div id="welcome-box">
        Welcome, {{ session['username'] }}
      </div>
      {% set _ = session.pop('just_logged_in') %}
      {% endif %}
      
      <div class="theme-toggle">
        <img src="{{ url_for('static', filename='images/brave_screenshot_icons.getbootstrap.com-removebg-preview.png') }}" alt="Home" class="button-icon">
        <p>Theme: </p>
        <label class="switch">
          <input type="checkbox" id="darkModeToggle"> 
          <span class="slider round"></span>
        </label>
      </div>

      <button id="openModal">Create course</button>

      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close close-create">&times;</span>
          <h2>Create course</h2>
          <form action="{{ url_for('save_course') }}" method="POST" id="formCreate">
            <input type="text" name="courseName" placeholder="Name of the course" id="createInput" required>
            <input type="text" name="subjectName" placeholder="Subject" id="createInput" required>
            <button type="submit">Create</button>
          </form>
        </div>
      </div>

      <button id="openJoin">Join course</button>

      <div id="modalJoin" class="modal">
        <div class="modal-content">
          <span class="close close-join">&times;</span>
          <h2>Join course</h2>
          <p>Some info..."</p>
        </div>
      </div>
    </div>

    <div class="sidebar">

      <a href="/">
        <img src="{{ url_for('static', filename='images/house.png') }}" alt="Home" class="button-icon">
        Main page
      </a>

      <a href="">
        <img src="{{ url_for('static', filename='images/calendar.png') }}" alt="Calendar" class="button-icon">
        Calendar
      </a>

      <a href="">
        <img src="{{ url_for('static', filename='images/archive.png') }}" alt="Archive" class="button-icon">
        Archive
      </a>

      <a href="">
        <img src="{{ url_for('static', filename='images/settings.png') }}" alt="Settings" class="button-icon">
        Settings
      </a>
    </div>

    <!--? Scripts -->
    <script src="{{ url_for('static', filename='js/createCourse.js') }}"></script>
    <script src="{{ url_for('static', filename='js/joinCourse.js') }}"></script>
    <script src="{{ url_for('static', filename='js/activeLink.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lightDarkMode.js') }}"></script>
    <script src="{{ url_for('static', filename='js/welcomeBox.js') }}"></script>
  </body>
</html>
